@model PortalBahiaGas.Models.Entidade.Operador

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<form class="form-inline" role="form" id="formTurno">
    <div class="panel panel-default ">
        <div class="panel-heading">Alocação de operadores</div>
        <div class="panel-body">
            <div class="container-fluid" id="grid">
                <div class="row">
                    <div class="col-sm-4 col-header">Operadores</div>
                    <div class="col-sm-2 col-header">
                        CAMAÇARI
                    </div>
                    <div class="col-sm-2 col-header">
                        FEIRA DE SANTANA
                    </div>
                    <div class="col-sm-2 col-header">
                        SALVADOR
                    </div>
                    <div class="col-sm-2 col-header">
                        Sala de Controle
                    </div>
                </div>
                @foreach (PortalBahiaGas.ViewModel.VmOperador item in ((List<PortalBahiaGas.ViewModel.VmOperador>)ViewData["OperadorSalaControle"]).OrderBy(x => x.Localidade).ThenBy(x => x.Nome))
                {
                    <div class="row">
                        <div class="col-sm-4 col-detail">
                            @item.Nome
                        </div>
                        <div class="col-sm-2 col-header" style="height:23px;">
                            <input id="Camacari" checked="@item.Camacari" name="@item.Nome" type="radio" value="@item.CodigoProtheus-CAM">
                        </div>
                        <div class="col-sm-2 col-header" style="height:23px;">
                            <input id="FeiraSantana" checked="@item.Feira" name="@item.Nome" type="radio" value="@item.CodigoProtheus-FS">
                        </div>
                        <div class="col-sm-2 col-header" style="height:23px;">
                            <input id="Salvador" checked="@item.Salvador" name="@item.Nome" type="radio" value="@item.CodigoProtheus-SAL">
                        </div>
                        <div class="col-sm-2 col-header" style="height:23px;">
                            <input id="SaladeControle" checked="@item.SalaControle" name="@item.Nome" type="radio" value="@item.CodigoProtheus-SL">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="btn-group pull-right">
        <button type="button" class="btn btn-success" onclick="SalvarAlocaoOperador('formTurno');">Salvar</button>
        <button type="button" class="btn btn-danger" onclick="window.location = '@Url.Action("Index", "Home")';">Voltar</button>
    </div>
</form>
@Scripts.Render("~/Scripts/views/Operador.js")

